#jubileeAdminTable {
    background-color: #10081e;
}

#jubileeAdminTable tbody {
    background-color: #fff;
    height: 150px;
    overflow: auto;
}

#jubileeAdminTable td {
    padding: 3px 10px;
}

#jubileeResponse {
    font-size: large;
    font-weight: bold;
}